<head>  
</head>
<body>
    <main>
        <form class="product-form" action="/saveNewPassword" method="POST">
            <p> Set new password for user with email: test@test.com </p>
            <div class="form-control">
                <label for="title">Password</label>
                <input type="text" name="title" id="password">
            </div>
            <div class="form-control">
                <label for="title">Repeat Password</label>
                <input type="text" name="title" id="repeat-password">
            </div>
                <button class="btn" type="submit">Submit</button>
        </form>
    </main>
</body>
